extends layout

block content
  div
    center
      h1= title
      img(src='images/Bomberman_Spirit.png')
      br
      br
      a(href='https://github.com/divineknight/cdsa') https://github.com/divineknight/cdsa